*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #fdfdfd, #383838);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #ffffff5a;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

.todo-app h2{
    color: #002765;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 16px;
    ;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #303030;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

footer{
    position: centered;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #002765;
    font-size: 14px;
    margin-top: 20px;
}

footer a{
    color: #ffffff;
    text-decoration: undeline;
}
footer a:hover{
    text-decoration: none;
}

button:hover{
    background: #5b5b5b;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 6px;
    left: 8px;
}

ul li.checked{
    color: #a9a9a9;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span:hover{
    background: #f2f2f2;
}

ul li span{
    text-align: center;
    color: #ff5945;
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
}